.job-openings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(211, 20%, 70%);
}

.search-bar {
  margin: 1rem 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #8a5cd9;
  border-radius: 10px;
  margin-right: 8px;
  font-size: 16px;
}

.searchbarbutton {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  margin-left: 3%;
}

.searchbarbutton:hover {
  background-color: #45a049;
}

.job-opening {
  box-sizing: border-box;
  width: 42%;
  margin: 20px 0;
  border-radius: 15px;
  padding: 12px;
  transition: transform 0.2s ease-in-out;
  background-color: #fff;
  overflow: hidden;
}

.job-opening:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
  height: 250px;
  margin-bottom: 12px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.applybutton {
  background-color: #4caf50;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.applybutton:hover {
  background-color: #45a049;
}

.remove-button {
  border: none;
  background-color: rgb(209, 18, 18);
  color: white;
  border-radius: 4px;
  padding: 8px;
}

.remove-button:hover {
  background-color: rgb(192, 9, 9);
}

.add-job-button-container {
  display: flex;
  justify-content: center;
  width: 42%;
  margin: 20px 0;
}

.add-job-button {
  background-color: #004d80;
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.add-job-button:hover {
  background-color: #2980b9;
}

.add-job-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  border: 1px solid #34495e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 50%;
  max-height: 80vh;
  overflow: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: rgb(220, 244, 172);
  font-size: 30px;
}


.close-button:hover {
  color: #ecf0f1;
}

.addjobtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  font-weight: bold;
}

.add-job-popup label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.add-job-popup input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #34495e;
  border-radius: 4px;
  background-color: #34495e;
  color: white;
}

.savejobbuttonstyle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-job-button {
  background-color: #438cbc;
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-job-button:hover {
  background-color: #2980b9;
}

@media screen and (max-width: 1050px) {
  .job-opening {
    width: 90%;
    display: flex;
    padding: 0;
    margin: 10px 0;
  }

  .image-container {
    height: auto;
    width: 30%;
    max-width: 30%;
    margin: 0px;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
  }

  .job-content {
    width: 70%;
    padding: 10px;
  }
}

/* Media query for screens smaller than 768px (phones) */
@media screen and (max-width: 768px) {
  .job-opening {
    flex-direction: column;
    padding: 8px;
  }

  .image-container {
    height: 200px;
    width: 100%;
    max-width: 100%;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
  }

  .job-content {
    width: 100%;
    padding: 10px;
  }
}
