.loading {
	height: 70vh;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.blog-body {
	background-color: hsl(211, 20%, 70%);
	padding: 5px 5%;
}

.search-box {
	margin: 10px -10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.search-box span {
	font-size: 40px;
	padding-right: 20px;
	color: #39597b;
	font-family: cursive;
	font-weight: 800;
}

.search-box input {
	padding: 10px 15px;
	max-width: 300px;
	min-width: 100px;
	border: none;
	border-radius: 50px;
}

.search-box input::placeholder {
	font-weight: 500px;
	font-size: 20px;
}

@media (max-width: 768px) {
    .search-box span {
		font-size: 25px;
		padding-right: 10px;
	}
}
