.blog-body {
	background-color: hsl(211, 20%, 70%);
	padding: 1rem 3rem;
}

.search-box {
	margin-bottom: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.search-box span {
	font-size: 40px;
	margin-left: -10px;
	color: #39597b;
	font-family: cursive;
	font-weight: 800;
}

.search-box input {
	float: inline-end;
	padding: 10px 15px;
	width: 30%;
	max-width: 300px;
	min-width: 100px;
	border: none;
	border-radius: 50px;
}

.search-box input::placeholder {
	font-weight: 500px;
	font-size: 20px;
}