/* General styling for the job openings container */
.job-openings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Spread items evenly */
    align-items: center; /* Center items vertically */
    height: 100vh; /* Set height to 100% of viewport height */
}

/* Styling for the search bar */
.search-bar {
    margin-left: 25%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 50%; /* Set width to 100% */
    justify-content: center; /* Center items horizontally */
    margin-top: 1%;
}

/* Styling for the search input */
input {
    flex: 1;
    padding: 8px;
    border: 5px solid #2e1313;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 16px;
}

/* Styling for the search button */
.searchbarbutton {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 3%;
}

button:hover {
    background-color: #45a049;
}

/* Styling for each individual job opening */
.job-opening {
    box-sizing: border-box;
    width: 50%;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    transition: transform 0.3s ease-in-out;
    background-color: #fff; /* Add a background color */
    overflow: hidden; /* Hide any overflowing content */
}

.job-opening:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the image container */
.image-container {
    margin-bottom: 12px;
    overflow: hidden; /* Hide any overflowing content */
}

/* Styling for the job opening image */
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Styling for the Apply button */
.applybutton {
    background-color: #4caf50;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    margin-top: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}

/* Media query for screens smaller than 768px (phones) */
@media screen and (max-width: 768px) {
    .job-opening {
        width: calc(100% - 16px); /* Full width for phones */
    }
}

/* Media query for screens between 768px and 1024px (laptops) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .job-opening {
        width: calc(33% - 16px); /* Display three in one line for laptops */
    }
}

/* Media query for screens larger than 1024px (desktops) */
@media screen and (min-width: 1025px) {
    .job-opening {
        width: calc(33% - 16px); /* Adjust width for desktops */
        margin-right: 0; /* Reset margin for desktops */
    }
}

/* Media query for screens larger than 1200px */
@media screen and (min-width: 1200px) {
    .job-opening {
        width: calc(33% - 16px);
    }
}
