.signup-container {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
	background: linear-gradient(to right, #283048, #859398);
	color: #fff;
}

.Signupphoto {
	width: 45%;
	margin-left: 5%;
}

.signup-form {
	max-width: 500px;
	width: 100%;
	padding: 30px;
	margin: 0 0 0 2rem;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signup-title {
	color: #007bff;
}

.form-group {
	width: 100%;
	margin-bottom: 20px;
}

.form-control {
	width: 100%;
	padding: 15px;
	font-size: 16px;
	border: none;
	border-bottom: 2px solid #007bff;
	background: transparent;
	transition: border-color 0.3s ease;
	box-sizing: border-box;
	color: #333;
}

.form-control:focus {
	border-color: #0056b3;
	outline: none;
}

.btn-primary {
	width: 100%;
	padding: 15px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn-primary:hover {
	background-color: #0056b3;
}

.forgot-password {
	margin-top: 15px;
	text-align: center;
	color: #333;
}

@media (max-width: 768px) {
	.Signupphoto {
		display: none;
	}

	.signup-form {
		margin: 20px;
		max-width: 100%;
	}
}
